<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>demo</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    
    <div class="container">

        
        <h1 class="mt-5" style="color:#f7acf7">오늘의 몸풀기를 추천해줘</h1>
        <img class="mt-5 mr-5" src="/assets/img/happy.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5 mr-5" src="/assets/img/sad.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5" src="/assets/img/chrismas.gif" width="100" style="border-radius: 10px;"><br>
        <img class="mt-5 mr-5" src="/assets/img/happy.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5 mr-5" src="/assets/img/sad.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5" src="/assets/img/chrismas.gif" width="100" style="border-radius: 10px;"><br>
        <img class="mt-5 mr-5" src="/assets/img/happy.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5 mr-5" src="/assets/img/sad.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5" src="/assets/img/chrismas.gif" width="100" style="border-radius: 10px;"><br>
        <img class="mt-5 mr-5" src="/assets/img/happy.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5 mr-5" src="/assets/img/sad.gif" width="100" style="border-radius: 10px;">
        <img class="mt-5" src="/assets/img/chrismas.gif" width="100" style="border-radius: 10px;"><br>

        <a href="add">
        <div style="
                z-index: -1;
                    position:fixed;width:60px;
                height:60px;bottom:40px;right:40px;
                background-color:#0C9;color:#FFF;border-radius:50px;text-align:center;
                box-shadow: 2px 2px 3px #999; font-size: 30px; line-height: 50px;">+</div>
                </a>
    </div>
    

    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>

    </script>
  </body>
</html>
